__pycache__/
*.py[cod]
*$py.class
scripts/Crawl_Data.py
Crawl_Data.py

# API Keys / Secrets
chatbot-api/.env
**/.env
*.env

# PostgreSQL data (Hive Metastore)
metastore/pgdata/

# PostgreSQL data
orchestration/logs/
orchestration/pgdata/
orchestration/dags/__pycache__
# Milvus volumes (binary data)
milvus/volumes/

# MinIO data (parquet, iceberg files)
minio/minio_data/

# supserset
supserset/superset_db_data

# Python cache
**/__pycache__/
**/*.pyc
**/*.pyo

# Node modules
**/node_modules/

# Logs
**/*.log

# OS
.DS_Store
Thumbs.db

superset/superset_db_data/
superset/superset_db_data/global/
superset/superset_db_data/pg_stat/
superset/superset_db_data/pg_wal/
