__pycache__/
*.py[cod]
*$py.class
scripts/Crawl_Data.py
Crawl_Data.py
orchestration/pgdata/
orchestration/pgdata/base
milvus/volumes/
minio/minio_data
metastore/pgdata
chatbot-api/.env
hadoop-cluster/dinhhoa-master
orchestration/logs/
orchestration/pgdata/
metastore/pgdata/
minio/
milvus/